.productInfo {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 275px;
    height: 325px;
    /* border-style: solid; */
    /* border-color: #edc596; */
    padding: 5px;
    margin: 10px;
    background-color: #fcb500;
    color: black;
    border-radius: 25px;
}
a:link {
    text-decoration: none;
}

.productInfo img {
    height: 250px;
    width: 250px;
    margin: 10px;
    border-radius: 25px;
}